* {

}

body {
    padding: 2rem 0 0  2rem;
}

.bg {
    background-color: rgb(0, 242, 250);
}

#quote-box {
    border-radius: 3px;
    position: relative;
    margin: 5% auto auto auto;
    width: 500px;
    padding: 40px 50px;
    display: table;
    background-color: rgb(45, 48, 231);
}

#text {
    font-size: 3rem;
}

#author {
    font-size: 3rem;
    text-align: right;
}

#buttons {
    position: sticky;
    padding: 4vw;
    margin: 4vw;
}